extends layout

block content
  h1= title
  p Welcome to #[em Flashcard], a very basic Express website developed as a way for students to create and share flashcards with other students.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Decks:] !{data.deck_count}
      li #[strong Cards:] !{data.card_count}
      li #[strong Users:] !{data.user_count}
      li #[strong Subjects:] !{data.subject_count}