extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Name of deck' name='title' required='true' value=(undefined===deck ? '' : deck.title) )
    div.form-group
      label(for='user') User:
      select#user.form-control(type='select', placeholder='Select user' name='user' required='true' )
        - users.sort(function(a, b) {let textA = a.last_name.toUpperCase(); let textB = b.last_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for user in users
          if deck
            option(value=user._id selected=(user._id.toString()==deck.user ? 'selected' : false) ) #{user.name}
          else
            option(value=user._id) #{user.name}
    div.form-group
      label Subject:
      div
        for subject in subjects
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='subject', id=subject._id, value=subject._id, checked=subject.checked )
            label(for=subject._id) #{subject.name}
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg